.turntable-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  .turntable-bg {
    position: relative;
    top: 55%;
    transform: translateY(-55%);
    z-index: 2;
    margin: auto;
    width: 840px;
    height: 1111px;
    background: url('../img/turntable-bg.png') no-repeat 100% 100%;
    background-size: contain;
    .light {
      position: absolute;
      top: 4px;
      left: 7px;
      width: 822px;
      height: 830px;
      margin: auto;
      background: url('../img/light.png') no-repeat 100% 100%;
      background-size: contain;
      animation: rotate 5s linear infinite;
    }
    .pointer {
      position: absolute;
      top: 255px;
      left: 310px;
      z-index: 1;
      width: 206px;
      height: 268px;
      background: url('../img/turntable-pointer.png') no-repeat 100% 100%;
      background-size: contain;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent; // 点击无阴影
    }
    .turntable {
      position: absolute;
      top: 45px;
      left: 48px;
      width: 746px;
      height: 746px;
      transform: rotate(0deg);
      background: url('../img/turntable.png') no-repeat 100% 100%;
      background-size: contain;
      .prize {
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 500px;
        height: 500px;
        transform: rotate(-15deg);
        li {
          position: absolute;
          top: 0;
          left: 0;
          width: 250px;
          height: 250px;
          border-radius: 50%;
          color: #000;
          text-align: center;
          line-height: 250px;
          transform-origin: right bottom;
          &:nth-child(1) {
            transform: rotate(60deg);
          }
          &:nth-child(2) {
            transform: rotate(120deg);
          }
          &:nth-child(3) {
            transform: rotate(180deg);
          }
          &:nth-child(4) {
            transform: rotate(240deg);
          }
          &:nth-child(5) {
            transform: rotate(300deg);
          }
          &:nth-child(6) {
            transform: rotate(360deg);
          }
          .img {
            display: block;
            width: 150px;
            height: 150px;
            border: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .decorate1 {
    position: absolute;
    top: 50px;
    right: -118px;
    width: 180px;
    height: 140px;
    background: url('../img/decorate1.png') no-repeat 100% 100%;
    background-size: contain;
  }
  .decorate2 {
    position: absolute;
    bottom: 20px;
    left: -62px;
    width: 385px;
    height: 180px;
    background: url('../img/decorate2.png') no-repeat 100% 100%;
    background-size: contain;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}